@tailwind base;
@tailwind components;
@tailwind utilities;



/* App.css */
html,
body {
  height: 100%;
  overflow: hidden; /* Prevent default scroll */
}

[data-scroll-container] {
  height: 100%;
  overflow: hidden; /* Hide default scroll */
}
.shine-text {
  @apply bg-gradient-to-r from-[#201658] opacity-100 to-blue-500 via-orange-600 bg-clip-text text-transparent;
  background-size: 70px;
  animation: zezzz 8s infinite;
  font-family: rajdhani;
}

@keyframes rubber-band {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.15);
  }
  65% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply rubber band animation to elements with .rubberband class */
.rubberband {
  animation: rubber-band 1s ease-in-out;
}



@keyframes zezzz {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Nav link styles */
.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-link:hover {
    color: #9befa9; /* Adjust the hover text color if needed */
  }
  
  /* Icon link styles */
  .icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .icon-link:hover {
    background-color: rgba(2, 18, 10, 0.924); /* Semi-transparent white background */
  }
